@detailpage-navigation-link-inset: .71rem;

.page-anchors, .record-references {
  .title {
    font-size: 1.14rem;
    display: inline-block;
  }

  .list {
    border-top: 3px solid @separator-border-color;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      border-bottom: 1px solid @separator-border-color;

      a {
        display: block;
        padding: @detailpage-navigation-link-inset 0 @detailpage-navigation-link-inset 1.71rem;
        font-size: 1rem;
      }
    }
  }
}

.page-anchors {
  margin-top: 5rem;
  margin-bottom: 2.35rem;

  ul > li > a {
    color: @font-color;

    background: url('/themes/sbvfrd/images/icons/sprungmarke-inhalt.svg') no-repeat 0 (@detailpage-navigation-link-inset * 0.7);

    &:hover {
      color: @link-color;
    }
  }
}

.record-references {
  ul > li > a {
    background: url('/themes/sbvfrd/images/icons/arrow-external-link.svg') no-repeat 0 (@detailpage-navigation-link-inset * 0.7);
  }
}

button.accordion-collapse {
  display: inline-block;
  float: right;
  margin: 20px 0 10px;
  border: 0 none;
  background: transparent url('/themes/sbvfrd/images/icons/arrow-accordion.svg') no-repeat center center;
  height: 1.14rem;
  width: 2rem;

  &:focus {
    outline: 0 none;
  }
}

.detailpage-common {
  padding-right: 1.5rem;
  margin-top: 5rem;

  h2.name {
    margin-top: 0;
  }

  .row.metadata:not(:last-child) {
    margin-bottom: 0.79rem;
  }
}

.tagcloud {

  & > span {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}

.separator {
  margin: 3.57rem 0;
  border-top: 1px solid @separator-border-color;
}

.separator + .row h2,
.separator + .tagcloud h2 {
  margin-top: 0;
}