.sbvfrd.carousel {
  .carousel-inner {
    .thumbnail-wrapper {
      height: 0;
      padding-bottom: 130%;
      overflow: hidden;

      & img {
        width: 100%;
      }
    }
  }
  .carousel-control {
    &.left, &.right {
      background: none;
    }

    &.left {
      left: -15px;
    }

    &.right {
      right: -15px;
    }

    &:focus {
      outline: 0 none;
    }
  }
}