<phpunit bootstrap="Bootstrap.php">
	<testsuites>
		<testsuite name="sbvfrd">
			<directory>./SwissbibTest/View</directory>
			<directory>./SwissbibTest/RecordDriver</directory>
			<directory>./SwissbibTest/TargetsProxy</directory>
			<directory>./SwissbibTest/NationalLicence</directory>
		</testsuite>
	</testsuites>
</phpunit>